#map{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 168px;
	min-width:1200px;
	}
	
#mapInfoWindowContainer{
	padding:5px;
	height:auto;
	width:auto;	
	}

#clusterPopUp {
	width: 50%;
	height: 70%;
	left:25%;
	top:15%;
	background-color:#999;
	position:absolute;
	z-index:2;
	visibility:hidden;
	}
