* { margin:0; padding:0; }

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}	

html {
	font-size:100.01%;
	height:100%;
}


body {
	height:100%;
	width:100%;
	overflow-x:hidden;
	background:#e1e6fa;
    font-size:75%;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
}
	
#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */	
}


/*Unselectable für Drag n' Drop */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    /*user-select: none;*/
}
	
	
	
/* CLEAR FIX */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}

/* Bereich nicht für IE-mac Anfang \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* Bereich nicht für IE-mac Ende */


/* (de) Vermeidung sichtbarer Outline-Rahmen in Webkit-Browsern */
div { outline:0 none; }
  
/* (en) HTML 5 - Anpassung des visuellen Formatmodells auf Blockelemente */
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
  display:block;
}
/* (de) Rahmen f�r <fieldset> und <img> Elemente l�schen */
  
fieldset, img { border:0 solid; }
  

/*===================================
�BERSCHRIFTEN UND ABS�TZE
===================================*/
  
h1{
	font-size:130%;
	margin-bottom:5px;
}

h2{
	font-size:120%;
	font-weight:normal;
}

.clear {
	clear:both;
}


/*===================================
HEADER (includes Logo, Login, 
===================================*/

#header {
   	color: #fff;
	background:url(../../images/bgheaderLogin.gif);
	height:168px;
	width:100%;
	z-index:999;
	position:relative;
  }
  
.logo{
	float:left;
	padding-top:15px;
	}
	
.headlogin{
	float:right;
	}
	
.forgotPass {
	color:#acacac;
}

#naviButtons {
	margin-top:20px;
}

.profil {
	margin-top:20px;
	float:right;
}

.uploadLogs {
	float:right;
}

	
/*===================================
CONTENT
===================================*/

#main{
	padding-bottom:45px;
	background:#e1e6fa;
	
	}
	
#content {
	min-width:720px;
	color:#183152;
	padding:40px 0 50px 100px;
	}
	
.startBild {
	margin-left:450px;
}
		
/*===================================
REGISTRIERUNG
===================================*/	

#newUserFormHeader {
	float:left;
	width:440px;
	}



/*===================================
ELEMENTE POSITIONIEREN UND ZENTRIEREN
===================================*/

 .page {
  position:relative;
  padding: 20px 0px 0px 100px;
  width: 1050px; 
  }

/*===================================
FOOTER
===================================*/



#footer{
	position:absolute;
	bottom:0px;
	height:45px;
	background:url(../../images/bgfooter_small.png) repeat-x #1a1a1a;
	width:100%;
	color:#fff;
	clear:both;
	}
	
.footercolumn{
	width:300px;
	float:left;
	margin-right:15px;
	margin-left:20px;
	}
	
.footercolumn h1{
	margin-top:20px;
	padding-bottom:5px;
	width:100%;
	color:#abc8e2;
	margin-bottom:5px;
	font-size:100%;
	}



/*===================================
BUTTONS (Switch Button Timeline/Karte)
===================================*/
.ansicht_bt {
float:left;
width:123px;
height:34px;
padding-top:6px;
background:url(../../images/ansicht.png) no-repeat;
}

.ansicht_switch_container{
	padding-left:5px;
	}
/*===================================
BUTTONS (Hauptmenü Dropdown)
===================================*/
dropdown_bt{position:relative; z-index:10000;}
.bgbutton{height:42px; width:159px;	margin:auto; background:url(../../images/bgbutton.png) no-repeat;}
#dropdown_bt ul{list-style:none; padding:0px; margin:0px;}
#dropdown_bt ul li{display:inline;float:left;}
#dropdown_bt ul li a{color:#ffffff; font-size:12px; text-decoration:none; display:block; width:115px; height:30px; line-height:25px; text-align:right; padding-right:35px;}
#dropdown_bt ul li a:hover{color:#fff; display:block; width:105px; padding-right:45px;}
#dropdown_bt .dropdown{background:url(../../images/button.png) no-repeat; width:105px; height:30px; margin:6px 5px 0 5px; padding-right:45px;}

/* sublinks */
#dropdown_bt li.sublinks{background:#242424; width:145px; margin-top:0px; border:solid 1px #111;}
#dropdown_bt ul li.sublinks a{color:#c4c4c4; font-weight:normal; display:block; width:105px; font-size:10px; padding-right:35px;}
#dropdown_bt ul li.sublinks a:hover{color:#494949;}
#dropdown_bt ul li.sublinks{display:none;}
.screw{background:url(../../images/screw.png) no-repeat right #242424; border-bottom: 1px solid #111;}
.chart-up{background:url(../../images/chart-up.png) no-repeat right #242424; border-top: 1px solid #444;border-bottom: 1px solid #111;}
.chart-pi{background:url(../../images/chart-pi.png) no-repeat right #242424; border-top: 1px solid #444;border-bottom: 1px solid #111;}
.calender{background:url(../../images/calender.png) no-repeat right #242424; border-top: 1px solid #444;border-bottom: 1px solid #111;}
.arrow{background:url(../../images/arrow.png) no-repeat right #242424; border-top: 1px solid #444;border-bottom: 1px solid #111;}
.door{background:url(../../images/door.png) no-repeat right #242424; border-top: 1px solid #444;}

/*uploadButton*/
img#upload_bt:hover{
	filter: alpha(opacity=90); opacity: 0.9;}
